
.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.loadingText {
    font-size: 1.5rem;
    font-weight: bold;
}