
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(135deg, var(--foreground), var(--tertiary));
  background-attachment: scroll;
  color: var(--background);
  padding: 10px;
  overflow-x: hidden
}

.header {
    font-size: 4.0rem;
}

.sectionHeader {
    font-size: 2.0rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.playerList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.tableContainer {
    background: var(--foreground);
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 2rem;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.tableHeader {
    font-weight: 600;
    padding: 0px 5px;
    font-size: 0.875rem;
    text-align: left;
}

.tableHeader:nth-child(1) {
    padding: 0px 20px;
}

.descriptionContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
}

.tableContainerWrapper {
    overflow-x: auto
}

.tableBody  {
    background-color: var(--foreground);
}

@media screen and (max-width: 768px) {
    .sectionHeader {
        font-size: 1.0rem;
    }

    .header {
        font-size: 2.0rem;
    }

    .tableHeader {
        font-size: 0.70rem;
        padding: 0px 8px;
    }

    .tableHeader:nth-child(2),
    .tableHeader:nth-child(3) {
        display: none;
    }
}