
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(135deg, var(--foreground), var(--tertiary));
  background-attachment: fixed;
  color: var(--background);
}

.playerList{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.tableContainer {
    background: var(--foreground);
    border-radius: 1.5rem;
}

.tableHeader {
    font-weight: 600;
    padding: 0px 20px;
    font-size: 0.875rem;
    text-align: left;
}

