@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tertiary: #808080;
  --fourth-color: #f0f0f0;
  --font-primary: var(--font-grotesk);
  --font-secondary: var(--font-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-grotesk);
}
